# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Task1/Task1Application/nbproject/private/
/Task1/Task1Application/build/
*.ods#
/Task2/Task2Application/nbproject/private/
/Task2/Task2Application/build/
/Task2/Task2Application/dist/
/Task3/Task3Application/nbproject/private/
/Task3/Task3Application/build/
/Task3/Task3Application/dist/
/Task4/Task4Application/nbproject/private/
/Task4/Task4Application/build/